* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow-x: hidden;
}
h1 {
  margin: 10px;
  color: #fff;
}
.box {
  background-color: #ffc329;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  box-shadow: 3px 3px 18px rgba(0, 0, 0, 0.5);
  border: 12px solid #fff;
  transform: translateX(400%);
  transition: transform 0.8s ease;
}

.box:nth-last-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}
